<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <center>
    <ht>display accessrecords</ht>
    <table border="3px">
        <tr>
            <th>name</th>
            <th>date </th>
        </tr>
    {% for A in AccessRecord %}
        <tr>
            <td>{{A.name}}</td>
            <td>{{A.date}}</td>
        </tr>
    {% endfor %}
    </table>
   </center> 
</body>
</html>